body, p, div, th, td, a, ul, li {
    background-color: #fff;
    color: #000;
    font-family: "Times New Roman","Georgia";
    font-size: 10px;
}
table {
    border:1px solid #666;
    border-width: 1px 0 0 1px;
    border-collapse: collapse;
}
th {
    text-align:left;
    background-color: #ddd;
}
th,td {
    border-right:1px solid #666;
    border-bottom:1px solid #666;
    padding:2px;
}